{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
  <h1 class="display-1 text-center mb-5">Bienvenue sur France Travail</h1>
  <p class="text-center">Utilisez la barre de navigation pour explorer les offres d'emploi disponibles.</p>
{% endblock %}
