<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    {% block stylesheets %}
        <style>
            
        </style>
    {% endblock %}
</head>
<body class="bg-light text-dark py-6">
    <header>
        {% include 'nav.html.twig' %}
    </header>

    {% include 'carrousel.html.twig' %}

    <div class="container mt-4">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script>
            $(document).ready(function() {
                // Change navbar color when the page starts unloading
                window.addEventListener('beforeunload', function() {
                    $('.navbar-custom').addClass('navbar-rose-powdery');
                });

                // Revert navbar color once the new page is fully loaded
                $(window).on('load', function() {
                    $('.navbar-custom').removeClass('navbar-rose-powdery');
                });
            });

            // Initialize the carousel
            $('.carousel').carousel({
                interval: 2000 // Slide every 2 seconds
            });
        </script>
    {% endblock %}
</body>
</html>
